*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenitorePagina{
    width: 100vw;
    height: 100vh;
    background-color: rgb(139, 0, 0);
}

.contenitoreForm{
    width: 80%;
    height: 35%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px #000000;
    -webkit-box-shadow: 5px 5px 10px 2px #000000;
    -moz-box-shadow: 5px 5px 10px 2px #000000;
}

.contenitoreBiglietto{
    width: 80%;
    height: 35%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px #000000;
    -webkit-box-shadow: 5px 5px 10px 2px #000000;
    -moz-box-shadow: 5px 5px 10px 2px #000000;
}

.nameZone{
    height: 80%;
    width: 30%;
    background-color: rgb(151, 151, 151);
    border-radius: 10px;
    display: inline-block;
}

.dettaglio{
    height: 80%;
    width: 70%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: inline-block;
    flex-grow: 2;
}